body {
  background-color: white;
}

header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-self: center;
}

.logo {
  scale: 0.5rem;
}

.nav-bar-list-items {
  display: inline-block;
  font-size: 3rem;
  font-family: "Jura";
  font-weight: bold;
  margin: 0rem 0rem;
  background-color: yellow;
}

.nav-bar-list {
  padding: 5rem;
}
.nav-bar-list-items a {
  color: white;
  text-decoration: none;
}
