<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhaavgeet-User Validation</title>
    <link rel="stylesheet" href="../validation/styles/user-validation.css">
</head>
<body>
    <main>
        <div class="login-wrap">
            <div class="login-html">
                <div class="login-form">
                    <div class="email-sent">
                        <h2>A verification Code has been sent to your email For Password change.</h2>
                        <br>
                        <h2>Enter Your Verification Code .</h2>
                        <br>
                        <form method="POST" action="../verifypass">
                        <textarea name="verifycode"></textarea>
                        <br>
                        <button >Submit</button>
                        <br>
                        {{err}}
                        <br>
                        </form>
                        <br>
                       
                      
                      <input type="submit" value="Go Back"   onclick="window.location='../index.html';" />    
                        
                              <img   src="../validation/images/email.png" alt="email" style="width:30%">
                        
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
